files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC2oFLa+QPkDS23Du2bdLfBSi7RUyRHVg6zQuRMm2qcaula8WccHCSuNqO/8AAuGpwSjbhWtYRhMVjX1+ijEf0JAR30GPziDunup7H+4TaZISLha5ATjxJ9o9IteF3jd7Syk2gvKTz3dzoybBOeqOk1lE6NdmgX9v4Gxf2nT2GKboNlRRks8cb7q9+Hngb2fczC78X2WZgNcHkOVz5x5GpuhzxeH5dB+OF78gCI69Ce/8O1+lahT18bpQyUvHZ0A4eH4YkbfgGxWot2Gkj/FxTLbsIEsbuy336oJhxjj0qQx5SyzB21ZGdcQS1SCQUYfY1HhPaw23oau2TjnejE48UD eb-spot-quiz-api
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      b3BlbnNzaC1rZXktdjEAAAAACmFlczI1Ni1jdHIAAAAGYmNyeXB0AAAAGAAAABBgeKYbXU
      D87xGoMABfWdjZAAAAEAAAAAEAAAEXAAAAB3NzaC1yc2EAAAADAQABAAABAQC2oFLa+QPk
      DS23Du2bdLfBSi7RUyRHVg6zQuRMm2qcaula8WccHCSuNqO/8AAuGpwSjbhWtYRhMVjX1+
      ijEf0JAR30GPziDunup7H+4TaZISLha5ATjxJ9o9IteF3jd7Syk2gvKTz3dzoybBOeqOk1
      lE6NdmgX9v4Gxf2nT2GKboNlRRks8cb7q9+Hngb2fczC78X2WZgNcHkOVz5x5GpuhzxeH5
      dB+OF78gCI69Ce/8O1+lahT18bpQyUvHZ0A4eH4YkbfgGxWot2Gkj/FxTLbsIEsbuy336o
      Jhxjj0qQx5SyzB21ZGdcQS1SCQUYfY1HhPaw23oau2TjnejE48UDAAAD0L1MfNdaMhgh0d
      l1Cg4Xr6rji5hf1fESIOnS3GgdJxQYiY26VPok+s2TwOO8q8VtksKXx3zf0ihViO7ZSPk/
      vpGOCHHepJT+qKBuj0y3uwGjj+80RlOg943sHgUikLWNQYuUS0YnHdsC0bWqcwSdRToHTR
      xu3CDiRD6TkGMg1GIKdvu7+xFj4dO/bzzArMQ0d7pJbr23KUC3G1XNvUvaKbM6nGuD8O9v
      EQxrmqcr5EpcBSCIztfi8uCZYuW77CV1pDxgfilJRX3KEzQ262AVKF4IgAmi6FB6ZDZI15
      bjRpjGstIUrggEHrrF/b3y6AX/bPGzJyLS8L8p+hZeUHWNKgexiz+DQzz31DRsD+o6jPDl
      2aZomFr5MA5ZLkhoqQRXB+o/81dtljL+CIJLFJoUXgbQHIuMHwDLFTmKyfmuWMvZhvnUUX
      GNU5cV3Qn1DGYxfK4Ny56c/PYyWj10Hn0kXwtOJl7Tpn8ObB6JeAf1h1/ANJiBhYnBvZqF
      yvQkK91JCl7OwpRFN//dZUtRTD3RU4NDW79vPNMjjYuy+0g0wJ0yahAI1PXRcPHascb49u
      Y5TgtZWBgvBlajTNVcowspXY/waCOBhgs8Zvmw/mH+Ze0dgCzAFgAat7faQ7MUKlGEQH+w
      /DPlazwO/UmYaV5+LDE536bSv2CEUqslzIOynQoFB3o86fqeJGTsfD4YS8ikp/beqv3nF9
      jLoRRfdozLBZwxSRVWwVzGLl0gUBwMHd04ot2nFw4DlePq29nq2odNHCkLwiMrduHUGgQx
      SQZqJ5CDLGW20/DXWj2XQvobqyNgqKEektporqXSOJjiRxvk1O6k6VCrU0W3fFkSLVNgOq
      gGfqZMhCymgtKNNBNqKI0JNIXLdQ1vEGaWFueVzM2O/HHN/q2XgnSOdsgceafef5a1OJDg
      IEEiZvrxqkUeSGbw0Ph9gK0KgbCh2bMQOkbjJHP8F+8ujqbgOm+3Z4gFSSR23BVsnhJF8o
      Pw6SSuhDH5/M5fIHLQdRJL0BKBSUo8YTTrmVcZt71wnkB0nOldh8mprLWJ/OYfZr1Q84vf
      XuOBzmmsp//Zu2R04OjV5Ps4fAsy8LMzq/s234VouwzqsTZBSn+Ml2ItguFi3BOLVgaTky
      td9BpGfY+TuXTjgBTl2+WCa/t9FlFhFf9Eu/ZHh7HzSr91QS7ydTq6JOVG6D1VhLXSGJ76
      ZE+8FyZJoXpeV50b6s6n4Bej0rd4INAD3lPPC4LLNht3E4KgMlVIvBCrzVsPF4NV/OcqSn
      rZEGWMERQA4+ryZQ1qv8KPEioxbKM=
      -----END RSA PRIVATE KEY-----
